* {
    font-family: sans-serif;
}

body {
    /* pour une solution de rechange*/
    background-color: coral;
    /*sera au dessus si navigateur compatible*/
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.lineThrough {
    text-decoration: line-through;
}

